.about_page{
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width:768px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .why_choose_us{

        margin-top: 50px;

        .item{
            box-shadow:inset 5px 5px 13px #00000015, inset -4px -4px 8px #00000020;
            padding: 15px;
            border-radius: 6px;

            svg{
                width: 50px;
                height: 50px;
                fill: #4a4a4a;
            }

            .item_title{
                font-size:1.25rem;
                margin: 10px 0;
                font-weight: 500;
            }

            .item_desc{
                font-size:1rem;
                font-weight: 400;
                color: #575757;
            }
        }

    }

}