.blog_section{

    .post{

        .post_title{
            font-size: 35px;
            font-weight: 500;
            margin: 20px 0;
        }

        .post_info{
            display: flex;

            .time{
                margin-right: 30px;
            }
        }

        .post_description{
            font-size: 16px;
            margin: 20px 0;
        }

    }

}