.mobile_navbar{

    @media (min-width:769px) {
        display: none;
    }

    // middle nav header
    .middle_nav{
        background-color: #ffffff;
        padding: 10px 0 20px 0;

        // logo 
        .logo{
            // flex: 1;

            img{
                width: 120px;
            }
        }

        // nav middle icon 
        .nav_middle_icon{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // flex:1 ;
            text-align: right;

            .add_to_cart{
                margin-right: 20px;
            }

            img{
                width: 25px;
                cursor: pointer;
            }

            .open_menu{
                cursor: pointer;
                margin-left: 15px;

                .bar_icon{
                    width: 40px;
                    height: 40px;
                    // background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 25px;
                        background-color: rgb(0, 0, 0);
                        transform: translateY(-8px);
                        box-shadow: 0 8px 0 black;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 25px;
                        background-color: rgb(0, 0, 0);
                        transform: translateY(8px);
                    }
                }

                svg{
                    width: 35px;
                    height: 35px;
                    fill: #484848;
                    padding-top: 4px;
                }
            }
        }

    }

    // bottom nav header
    .bottom_nav{
        padding: 5px 0;
        min-height: 100vh;
        width: 100%;
        z-index: 999;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0);
        transition: .4s;

        .bottom_nav_wrapper{
            transition: .4s;
            display: block;
            margin: 0;
            padding: 0;
            height: 100%;
            max-width: 350px;
            width: 100%;
            background-color: #4561ea;
            position: fixed;
            right: -100%;
            top: 0;
            padding: 60px 10px 20px;
            overflow-y: auto;

            .close_menu{
                position: absolute;
                top: 15px;
                left: 20px;

                svg{
                    fill: #ffffff;
                    cursor: pointer;
                }
            }
            
            hr{
                opacity: .15;
                width: 100%;
                position: absolute;
                top: 55px;
                left: 0;
                margin: 0;
            }

            

            // searcch bar 
            .nav_search_bar{
                flex:3 ;

                form{
                    margin: auto;
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin: 10px;

                    .search_input{
                        width: 100%;
                        outline: none;
                        border: none;
                        padding: 7px 40px 7px 20px;
                        border-radius: 50px;
                        background: #4561ea;
                        color: white;
                        box-shadow: 3px 3px 5px #00000020, -2px -2px 3px #ffffff10;
                        transition: .3s;
                    }

                    .search_input::placeholder{
                        color: lightgray;
                    }

                    .search_input:focus{
                        box-shadow: 4px 4px 5px #00000040, -3px -3px 5px #ffffff15;
                    }

                    .search_button{
                        cursor: pointer;
                        position: absolute;
                        right: 15px;
                        font-size: 28px;
                        fill: lightgray;
                        height: 100%;
                    }
                }
            }
                
        }

        // main categories 
        .main_categories{
            position: relative;
            display: block;
            border-radius: 5px;
            margin-bottom: 10px;

            .category{
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: space-between;
                padding: 0 16px;

                .catergory_name{
                    // margin-right: 20px;

                    svg{
                        fill: #ffffff;
                        font-size: 26px;
                        margin-right: 5px;
                    }
                    
                    span{
                        font-size: 16px;
                        line-height: 40px;
                        color: #ffffff;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                }

                .down_arrow{
                    fill: #ffffff;
                }

                .down_arrow.active{
                    transform: rotate(180deg);
                }
                
            }

            .category_items{
                z-index: 99 !important;
                width: 100%;
                height: 0;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                padding: 0;
                padding: 0px 25px;
                transition: .3s ease-in;
                
                li {
                    padding: 7px 5px;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    transition: .4s;
                    cursor: pointer;
                    font-size: 15px;

                    &:hover{
                        background: #3750c7;
                    }

                    p{
                        margin: 0;
                        font-size: 14px;
                        color: white;

                        svg{
                            margin-right: 10px;
                            fill: white;
                            padding: 3px;
                        }
                    }
                }
            }

            .category_items.active{
                padding: 10px 25px;
                height: 100%;
                opacity: 1;
                visibility: visible;
            }
        }

        // main nav menu 
        .main_nav_menu{
            
            .items{
                display: block;
                margin:0;
                padding: 0;

                .item{
                    margin-bottom: 10px;
                    padding:0 16px;
                    border-radius: 5px;
                    cursor: pointer;
                    
                    &:hover{
                        background: #3750c7;
                    }

                    .item_icon{
                        margin-right: 3px;
                        fill: #ffffff;
                    }

                    .item_name{
                        font-size: 16px;
                        line-height: 40px;
                        color: #ffffff;
                        font-weight: 500;
                    }
                }
            }
        }

    }
}

.mobile_navbar.active {
    .bottom_nav{        
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
        visibility: visible;

        .bottom_nav_wrapper{
            right: 0;
        }
    }
}

.mobile_navbar.sticky {
    position: sticky !important;
    top: 0;
    background: white;
    z-index: 999;
    box-shadow: 0px 3px 5px #00000030;
}